<center><h1>Proyecto final</h1></center>
<center><h3>IBM SkillsBuild Europa - Análisis de datos</h3></center>

# Requisitos



* Conocimientos de Python, Power BI o Tableau.
* Comprensión de la limpieza de datos.
* Comprensión de la visualización de datos.



#### Nivel de ejercicio: Intermedio



#### Duración: aproximadamente 3 horas

### Análisis de datos de Airbnb:



#### Objetivo:



En este ejercicio, practicarás el análisis de datos sobre un conjunto de datos abiertos procedentes de Airbnb. Algunas de las tareas incluyen:

- limpieza de datos,
- transformación de datos y
- visualización de datos.



#### Resumen sobre los datos de Airbnb:



Los criterios principales de la gente cuando visita lugares nuevos son contar con alojamiento y comida a precios razonables. Airbnb (Air-Bed-Breakfast) es un mercado en línea creado para satisfacer esta necesidad, pues permite a la gente alquilar sus casas durante plazos cortos. Estos servicios se ofrecen a un precio relativamente inferior al de los hoteles y en diversas ubicaciones geográficas. Además, personas de todo el mundo prefieren el servicio hogareño y económico.



#### Fuente de los datos



Puedes obtener el <i>dataset</i> para realizar este proyecto en el siguiente enlace: https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata



Este <i>dataset</i> contiene información sobre los alojamientos, tal como el barrio, el tipo de habitación, el precio, la disponibilidad, las opiniones, los gastos de servicio, la política de cancelación y las normas de uso de la casa.



¡Te deseamos lo mejor en tu análisis de los datos de Airbnb!

## Tarea 1: Carga de datos (Python)



1. Lee el fichero csv y cárgarlo en un <i>dataframe</i> de pandas.
2. Visualiza las cinco primeras filas de tu <i>dataframe</i>.
3. Visualize los tipos de datos de las columnas.

#### <span style="color:blue">1.1. Lee el fichero csv y cárgarlo en un dataframe de pandas</span>

In [163]:
import os 
os.getcwd()

'C:\\JAMES TARRILLO\\JAMES T\\CERTIFICACIONES\\ANALISIS DE DATOS - IBM'

In [164]:
os.chdir("C:\\JAMES TARRILLO\\JAMES T\\CERTIFICACIONES\\ANALISIS DE DATOS - IBM")
os.getcwd()

'C:\\JAMES TARRILLO\\JAMES T\\CERTIFICACIONES\\ANALISIS DE DATOS - IBM'

In [165]:
import pandas as pd
df=pd.read_csv('Airbnb_Open_Data.csv')
df

C:\Users\joann\AppData\Local\Temp\ipykernel_9260\1244463740.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

#### <span style="color:blue">1.2. Visualiza las cinco primeras filas de tu dataframe</span>

In [166]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

#### <span style="color:blue">1.3. Visualize los tipos de datos de las columnas</span>

In [167]:
df.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

---

## Tarea 2a: Limpieza de datos (cualquier herramienta)


1. Elimina las columnas no deseadas del <i>dataframe</i>, entre ellas se incluyen `host id`, `id`, `country` y `country code`.
2. Indica la razón por la cual se han eliminado estas columnas para tu análisis de datos.


Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla tomadas antes y después de eliminar las columnas.

#### <span style="color:blue">2a.1. Elimina las columnas no deseadas del dataframe, entre ellas se incluyen [id, country y country code]</span>

In [168]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [169]:
df.drop(columns=['id','country','country code','license'], axis=1,inplace=True)

In [170]:
df.columns

Index(['NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long',
       'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules'],
      dtype='object')

#### <span style="color:blue">2a.2. Indica la razón por la cual se han eliminado estas columnas para tu análisis de datos</span>

In [ ]:
'id': #Es un dato que no ayudará en el analisis del dataframe.
'country':#Es un único dato que será innecesario en el analisis del dataframe, se sobreentiende que el análisis es sobre USA.
'country code': #Es un único dato que será innecesario en el análisis del dataframe.
'license': #Es un dato que cuenta con valores nulos ''NaN'' en todos los registros.

---

## Tarea 2b: Limpieza de datos (Python)


- Compueba si hay valores nulos y muestra el recuento en orden ascendente. **Si faltan valores, imputa los valores como consideres.**
- Comprueba si hay valores duplicados y elimínalos.
- Muestra el número total de registros antes y después de eliminar los duplicados.

#### <span style="color:blue">2b.1. Compueba si hay valores nulos y muestra el recuento en orden ascendente</span>

In [171]:
valores_nulos=df.isnull().sum().sort_values()
valores_nulos

room type                             0
host id                               0
lat                                   8
long                                  8
neighbourhood                        16
neighbourhood group                  29
cancellation_policy                  76
instant_bookable                    105
number of reviews                   183
Construction year                   214
price                               247
NAME                                250
service fee                         273
host_identity_verified              289
calculated host listings count      319
review rate number                  326
host name                           406
minimum nights                      409
availability 365                    448
reviews per month                 15879
last review                       15893
house_rules                       52131
dtype: int64

> #### <span style="color:Blue"> iterando los valores nulos del df</span>

In [172]:
for col in df.columns:
    if df[col].dtype=='O':
        print("Rellenando valores en columna categórica:",col)
        df[col].fillna(value=df[col].mode()[0],inplace=True)
    else:
        print("Rellenando valores en columna numérica:",col)
        df[col].fillna(value=df[col].median(),inplace=True)

Rellenando valores en columna categórica: NAME
Rellenando valores en columna numérica: host id
Rellenando valores en columna categórica: host_identity_verified
Rellenando valores en columna categórica: host name
Rellenando valores en columna categórica: neighbourhood group
Rellenando valores en columna categórica: neighbourhood
Rellenando valores en columna numérica: lat
Rellenando valores en columna numérica: long
Rellenando valores en columna categórica: instant_bookable
Rellenando valores en columna categórica: cancellation_policy
Rellenando valores en columna categórica: room type
Rellenando valores en columna numérica: Construction year
Rellenando valores en columna categórica: price
Rellenando valores en columna categórica: service fee
Rellenando valores en columna numérica: minimum nights
Rellenando valores en columna numérica: number of reviews
Rellenando valores en columna categórica: last review
Rellenando valores en columna numérica: reviews per month
Rellenando valores en columna numérica: review rate number
Rellenando valores en columna numérica: calculated host listings count
Rellenando valores en columna numérica: availability 365
Rellenando valores en columna categórica: house_rules

In [173]:
valores_nulos2=df.isnull().sum().sort_values()
valores_nulos2

NAME                              0
calculated host listings count    0
review rate number                0
reviews per month                 0
last review                       0
number of reviews                 0
minimum nights                    0
service fee                       0
price                             0
Construction year                 0
room type                         0
cancellation_policy               0
instant_bookable                  0
long                              0
lat                               0
neighbourhood                     0
neighbourhood group               0
host name                         0
host_identity_verified            0
host id                           0
availability 365                  0
house_rules                       0
dtype: int64

#### <span style="color:Blue"> 2b.2. Comprueba si hay valores duplicados y elimínalos</span>

In [174]:
valores_duplicados=df.duplicated().sum()
valores_duplicados

541

In [176]:
eliminar_valores=df.drop_duplicates(inplace=True)

#### <span style="color:Blue"> 2b.3. Muestra el número total de registros antes y después de eliminar los duplicados </span>

In [175]:
Registros_antes=len(df)
Registros_antes

102599

In [177]:
Registros_despues=len(df)
Registros_despues

102058

---

## Tarea 3: Transformación de datos (cualquier herramienta)





- Cambia el nombre de la columna `availability 365` a `days_booked`.
- Convierte todos los nombres de columna a minúsculas y sustituye los espacios en los nombres de columna por un guión bajo "_".
- Elimina el signo de dólares y la coma de las columnas `price` y `service_fee`. Si es necesario, convierte estas dos columnas al tipo de datos adecuado.



Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla de tu trabajo.

#### <span style="color:blue"> 3.1. Cambia el nombre de la columna [availability 365 a days_booked]</span>

In [178]:
df.columns[-2]

'availability 365'

In [179]:
df.rename(columns={'availability 365':'days_booked'},inplace=True)

In [180]:
df.columns[-2]

'days_booked'

#### <span style="color:blue"> 3.2. Convierte todos los nombres de columna a minúsculas y sustituye los espacios por un guión bajo "_"</span>

In [181]:
df.columns=[col.lower().replace(" ","_")for col in df.columns]
df.columns

Index(['name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long',
       'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count', 'days_booked',
       'house_rules'],
      dtype='object')

#### <span style="color:blue"> 3.3. Elimina el signo de dólares y la coma de las columnas. Si es necesario, convierte estas dos columnas al tipo de datos adecuado</span>

In [182]:
df[['price','service_fee']].head()

   price service_fee
0  $966        $193
1  $142         $28
2  $620        $124
3  $368         $74
4  $204         $41

In [183]:
import numpy as np

def remove_dollar_sign(value):
    if pd.isna(value):
        return np.NaN
    else:
        return float(value.replace("$","").replace(",",""))

In [184]:
df['price']=df['price'].apply(lambda x:remove_dollar_sign(x))

In [185]:
df['service_fee']=df['service_fee'].apply(lambda x:remove_dollar_sign(x))

In [186]:
df[['price','service_fee']]

         price  service_fee
0        966.0        193.0
1        142.0         28.0
2        620.0        124.0
3        368.0         74.0
4        204.0         41.0
...        ...          ...
102053   696.0         41.0
102054   909.0         41.0
102055   387.0         41.0
102056   848.0         41.0
102057  1128.0         41.0

[102058 rows x 2 columns]

In [187]:
df[['price','service_fee']].dtypes

price          float64
service_fee    float64
dtype: object

---

### Tarea 4: Análisis exploratorio de datos (cualquier herramienta)



- Enumera los tipos de habitaciones disponibles en el <i>dataset</i>.
- ¿Qué tipo de habitación tiene la política de cancelación más estricta?
- Enumera el precio medio por barrio y señala cuál es el conjunto de barrios más caro para alquilar.



Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla de tu trabajo.

#### <span style="color:blue"> 4.1. Enumera los tipos de habitaciones disponibles en Airbnb</span>

In [188]:
tipo_habit_disponibles=df['room_type'].value_counts()
tipo_habit_disponibles

Entire home/apt    53429
Private room       46306
Shared room         2208
Hotel room           115
Name: room_type, dtype: int64

#### <span style="color:blue"> 4.2. ¿Qué tipo de habitación se adhiere a una política de cancelación más estricta?</span>

In [189]:
polit_strict=df[df['cancellation_policy']=='strict']

In [190]:
hab_polit_strict=polit_strict[['cancellation_policy','room_type']]

In [191]:
hab_polit_strict['room_type'].value_counts()

Entire home/apt    17730
Private room       15428
Shared room          737
Hotel room            34
Name: room_type, dtype: int64

In [ ]:
'Entire home/apt' #es la que cuenta con más politicas de cancelacion extricta

#### <span style="color:blue"> 4.3. Enumera el precio medio por barrio y señala cuál es el conjunto de barrios más caro para alquilar</span>

In [192]:
round(df['price'].groupby(df['neighbourhood_group']).mean().sort_values(ascending=False),2)

neighbourhood_group
Queens           629.16
Bronx            626.67
Brooklyn         625.56
Staten Island    622.67
Manhattan        621.61
brookln          580.00
manhatan         460.00
Name: price, dtype: float64

In [ ]:
'Queens' #es el grupo de barrios con los alquileres más caros

---

# <span style="color:red">Las Tareas 5a, 5b y 5c, realizados en Tableau. Se adjunta pantallazos en PDF</span>

## Tarea 5a: Visualización de datos (Cualquier herramienta)

* Enumerar los distintos tipos de habitaciones disponibles en Airnb
* Qué tipo de habitación se adhiere a una política de cancelación más estricta.
* Enumere los precios por grupo de barrios y mencione también cuál es el grupo de barrios más caro para los alquileres.
* Enumere los 10 barrios más caros por orden creciente de precio con la ayuda de un gráfico de barras horizontales. ¿Cuál es el barrio más barato?
* Enumere los barrios que ofrecen alquileres a corto plazo de menos de 10 días. Ilustrar con un gráfico de barras
* Enumere los precios con respecto al tipo de habitación utilizando un gráfico de barras y exponga también sus inferencias.
* Cree un gráfico circular que muestre la distribución de los días reservados para cada grupo de barrios.

Si utiliza Python para este ejercicio, por favor incluya el código en las celdas de abajo. Si utiliza cualquier otra herramienta, por favor incluya pantallazos de su trabajo.

## Tarea 5b: Visualización de datos (Cualquier herramienta)

* ¿El precio del servicio y el precio de la habitación tienen un impacto mutuo? Ilustre esta relación con un gráfico de dispersión e indique sus inferencias
* Utilizando un gráfico lineal muestre en qué año tuvo lugar la máxima construcción de habitaciones.

Si utiliza Python para este ejercicio, incluya el código en las celdas siguientes. Si utiliza cualquier otra herramienta, incluya capturas de pantalla de su trabajo.

## Tarea 5c: Visualización de datos (Cualquier herramienta)

* Con la ayuda de gráficos de caja ilustra lo siguiente
 * Efecto del número de tasa de revisión en el precio
 * Efecto de la identidad del host verificada en el precio

Si utiliza Python para este ejercicio, por favor incluya el código en las celdas de abajo. Si utiliza cualquier otra herramienta, por favor incluya capturas de pantalla de su trabajo.